

    thead{
        background-color: red;
    }

    thead:hover{
        background-color: grey;
    }

    #h1{

        background-color: green;

    }
#h1:hover{

    background-color: yellow;
}
    
